/* 主题相关，理论上修改此文件即可切换主题
-------------------------- */
$namespace: 'sofa';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';

/* Config
-------------------------- */
$--color-primary: #ff9900;
$--color-secondary: #dcdfe6;

$--color-white: #fff;
$--color-black: #333;

$--color-success: #ff0099;
$--color-warning: #334455;
$--color-danger: #009988;
$--color-info: #442299;

$--default-fill: $--color-white;
$--default-text-color: $--color-black;
$--default-box-sizing: border-box;

/* Font
-------------------------- */
$--font-path: 'fonts' !default;
$--font-size-primary: 12px !default;
$--font-weight-primary: 500 !default;


/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: $--color-secondary !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 4px !default;